[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ryan N. Norris (TheNameIsNigel)
[access "refs/for/refs/*"]
	read = group user/Ryan N. Norris (TheNameIsNigel)
	push = group user/Ryan N. Norris (TheNameIsNigel)
	label-Code-Review = -2..+2 group user/Ryan N. Norris (TheNameIsNigel)
	label-Verified = -1..+1 group user/Ryan N. Norris (TheNameIsNigel)
	rebase = group user/Ryan N. Norris (TheNameIsNigel)
	removeReviewer = group user/Ryan N. Norris (TheNameIsNigel)
	submit = group user/Ryan N. Norris (TheNameIsNigel)
[access "refs/heads/*"]
	read = group user/Ryan N. Norris (TheNameIsNigel)
	create = group user/Ryan N. Norris (TheNameIsNigel)
	push = +force group user/Ryan N. Norris (TheNameIsNigel)
	pushMerge = group user/Ryan N. Norris (TheNameIsNigel)
[access "refs/tags/*"]
	push = +force group user/Ryan N. Norris (TheNameIsNigel)
	pushTag = group user/Ryan N. Norris (TheNameIsNigel)
	pushSignedTag = group user/Ryan N. Norris (TheNameIsNigel)
